<script>
document.getElementById("forum_nav").classList.add("active")
</script>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-hidden col-sm-2"></div>
        <div class="col-xs-12 col-sm-8">
            <h1>Forums Page</h1>
            <p>Lorem Ipsum dolor sit....</p>
        </div>
        <div class="col-xs-hidden col-sm-2"></div>
    </div>
</div>

