<script>
document.getElementById("home_nav").classList.add("active")
</script>
<section class="bg-landing" id="landing">
    <div class="container-fluid" id="landingmessage">
        <div class="row">
            <div class="col-xs-hidden col-sm-2"></div>
            <div class="col-sm-8">
            <br>
                <h1 style="color:#ffffff">Our Mission</h1>
                <p class="lead" style="color:#ffffff; font-size: 1.6em; z-index:10;">The Community of Practice for Telecommuters is focused on building a community of practice for work-from-home employees and seekers of work-from-home jobs in New Mexico and beyond. Users will be empowered to make a living without deciding to move or live off of government assistance. This website will enable them to find work-from-home opportunities from highly rated employers, find free or low cost skills training, and connect with a community of like-minded users to gain support and knowledge about how to best find and excel at work-from-home jobs.</p>
                <div class="text-center">
                    <br>
                    <br>
                    <a href="/jobs"><button type="button" class="btn btn-lg btn-primary"><h4>SEARCH JOBS</h4></button></a>&nbsp;
                    <a href="/employers"><button type="button" class="btn btn-lg btn-success"><h4>SEARCH COMPANIES</h4></button></a>
                </div>
                <br><br><br>
            </div>
            <div class="col-xs-hidden col-sm-2"></div>
        </div>
    </div>
</section>

