<div class="container-fluid">
    <div class="row">
        <div class="col-xs-hidden col-sm-2"></div>
        <div class="col-xs-12 col-sm-8">
            <h1>Our Mission</h1>
            <p>The Community of Practice for Telecommuters is focused on building a community of practice for work-from-home employees and seekers of work-from-home jobs in New Mexico and beyond. Users will be empowered to make a living without deciding to move or live off of government assistance. This website will enable them to find work-from-home opportunities from highly rated employers, find free or low cost skills training, and connect with a community of like-minded users to gain support and knowledge about how to best find and excel at work-from-home jobs.</p>
        </div>
        <div class="col-xs-hidden col-sm-2"></div>
    </div>
</div>
</div>
